 /* globals  */
*{
  margin: 0;
  padding: 0;
  outline: none;
} 


:root {
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  
  --baseBackground: linear-gradient(180deg, #020202 12.29%, #1A100F 68.54%, rgba(53, 15, 10, 0.99) 100%);
  --baseColor9: rgba(250, 244, 240, 0.9);
  --baseColor7: rgba(250, 244, 240, 0.7);
  --baseColor-inverse: #1D1312;



  --hoverProduct-background: rgba(250, 244, 240, 0.01);
  --hoverProduct-boxShadow: 0px 39px 56px -56px rgba(250, 244, 240, 0.5), 0px 7px 10px -400px rgba(250, 244, 240, 0.2), 0px -82px 68px -64px rgba(96, 68, 144, 0.3), 0px 98px 100px -48px rgba(202, 172, 255, 0.3), 0px 4px 18px rgba(2, 2, 2, 0.3), inset 0px 1px 40px rgba(227, 222, 255, 0.2);
  --hoverProduct-drop-shadow: drop-shadow(15px 25px 40px rgba(96, 68, 144, 0.3));
  --borderRadius: 12px;
  --action-color: #74F599;



  --blur: blur(100px);
  
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: var(-baseColor7);
  background: var(--baseBackground);
  /* border: 1px solid red; */
}



h1 {
  margin: 0;
  font-size: 1.7em;
}

h2 {
  
}

h1,h2,h3{
  color: var(--baseColor9);
}

p,span,label{
  font-family: 'Montserrat', sans-serif;
  color: var(--baseColor9);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

a{
  text-decoration: none;
}

.big-tittle{
  font-size: 40px;
}
.ZERO4{
  font-size: 2rem;
  line-height: 3rem;
}


.call-to-acction{
  color: var(--action-color)
}

.wrapper {
  padding: 2rem 4%;
}
.wrapper--header{
  padding: 0 4%;
}
.grid {
  display: grid;
  grid-row-gap: 25px;
}

@media screen and (min-width: 480px) {
  .grid {
    /* border: 1px solid purple; */
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
  }
  .wrapper {
      max-width: 1440px;
      margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .grid {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Darkmode */
.is-dark-mode {
  --baseBackground: linear-gradient(180deg, #020202 12.29%, #1A100F 68.54%, rgba(53, 15, 10, 0.99) 100%);
  --baseColor9: rgba(250, 244, 240, 0.9);
  --baseColor7: rgba(250, 244, 240, 0.7);
  --baseColor-inverse: #1D1312;
}

.is-light-mode {
  --baseBackground: linear-gradient(180deg, rgba(233, 18, 18, 0.04) -2.39%, rgba(157, 18, 206, 0.02) 32.8%, rgba(188, 18, 128, 0.02) 66.66%), radial-gradient(50% 50% at 50% 50%, rgba(250, 244, 240, 0.2) 0%, rgba(250, 244, 240, 0.6) 100%), linear-gradient(180deg, #E2E2EA 12.29%, #C6C3D4 68.54%, #CBC3CB 100%);
  --baseColor9: rgba(29, 19, 19, 0.9);
  --baseColor7: rgba(29, 19, 19, 0.7);
  --baseColor-inverse: #FAF4F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --baseBackground: linear-gradient(180deg, #020202 12.29%, #1A100F 68.54%, rgba(53, 15, 10, 0.99) 100%);
    --baseColor9: rgba(250, 244, 240, 0.9);
    --baseColor7: rgba(250, 244, 240, 0.7);
    --baseColor-inverse: #1D1312;
  }
}